.container {
    width: 100vw;
    height: 100vh;
    background-color: #6c10a3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    width: 300px;
    height: 360px;
    background-color: rgb(255, 254, 254);
    border-radius: 20px;
    border: 1px solid grey;
}

.signupForgetContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.signupForgetInnerContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.Navlink {
    text-decoration: none;
    color: #6c10a3;
}

@media screen and (max-width: 340px) {
    .innerContainer {
        width: 240px;
    }
}